/* src/styles/global.css */

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
}

.container {
  padding: 20px;
  background-color: #ffffff; /* White background */
  margin-top: 70px; /* Leave space for the fixed header */
  box-sizing: border-box;
}

.content {
  padding: 20px;
  box-sizing: border-box;
}
