.navbar {
  background-color: #343a40;
}

.navbar-brand {
  color: #343a40 !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: #343a40 !important;
}

.nav-link:hover {
  color: #adb5bd !important;
}

.navbar-toggler {
  border-color: #ffffff !important;
}

.navbar-collapse {
  justify-content: flex-end;
}
